{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}
{% form_theme form 'shared/form.theme.html.twig' %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="errors">
    {{ form_errors(form) }}
</div>

{{ form_row(form.title) }}
{{ form_row(form.compositionYear) }}
{{ form_row(form.single) }}

<div id="artists-list" class="collection"
     data-prototype="{{ (
     '<tr class="collection-field" rel="__name__">'
     ~ '<td class="artist-name">' ~ form_row(form.artists.vars.prototype) ~ '</td>'
     ~ '<td class="operations">'
     ~ '<button class="btn btn-danger action-delete shadow-sm mb-3" title="'
     ~ ('Delete.Artist' | trans) ~ '"><i class="fa fa-trash-alt"></i></button>'
     ~ '</td>'
     ~ '</tr>'
     ) | e('html_attr') }}">
    {{ form_label(form.artists) }}
    {{ form_errors(form.artists) }}
    <table style="width: 100%;">
        <tbody>
        {% set i = 0 %}
        {% for artist in form.artists %}
            <tr class="collection-field" rel="{{ i }}">
                <td class="form">{{ form_row(artist) }}</td>
                <td class="operations">
                    <button class="btn btn-danger action-delete shadow-sm mb-3" title="{{ 'Delete.Artist' | trans }}">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary action-add" data-target="#artists-list" title="{% trans %}Add.Artist{% endtrans %}">
        <i class="fa fa-plus"></i> {% trans %}Add.Artist{% endtrans %}
    </button>

</div>

<div class="albums-list-container">
    {% if form.albums is defined %}
        <div id="albums-list" class="collection"
             data-prototype="{{ form.albums.vars.prototype is defined ? ((
             '<tr class="collection-field" rel="__name__">'
             ~ '<td class="album-name">' ~ form_row(form.albums.vars.prototype) ~ '</td>'
             ~ '<td class="operations">'
             ~ '<button class="btn btn-danger action-delete shadow-sm mb-3" title="'
             ~ ('Delete.Artist' | trans) ~ '"><i class="fa fa-trash-alt"></i></button>'
             ~ '</td>'
             ~ '</tr>'
             ) | e('html_attr')) : '' }}">
            {{ form_label(form.albums) }}
            {{ form_errors(form.albums) }}
            <table style="width: 100%;">
                <tbody>
                {% set i = 0 %}
                {% for album in form.albums %}
                    <tr class="collection-field" rel="{{ i }}">
                        <td class="form">{{ form_row(album, {attr: {readonly: true}}) }}</td>
                        <td class="operations">
                            {% if form.albums.vars.prototype is defined %}
                            <button class="btn btn-danger action-delete shadow-sm mb-3" title="{{ 'Delete.Album' | trans }}">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>

            {% if form.albums.vars.prototype is defined %}
            <button type="button" class="btn btn-primary action-add" data-target="#albums-list" title="{% trans %}Add.Album{% endtrans %}">
                <i class="fa fa-plus"></i> {% trans %}Add.Album{% endtrans %}
            </button>
            {% endif %}

        </div>
    {% endif %}
</div>

<div class="row mt-3 form-operations">
    <div class="col-12 text-right">
        <button type="submit" class="btn btn-success" title="{% trans %}Save{% endtrans %}">
            <i class="fa fa-save"></i> {% trans %}Save{% endtrans %}
        </button>
        <a href="{{ path('homepage') }}" class="btn btn-dark" title="{% trans %}Cancel{% endtrans %}"><i class="fa fa-undo-alt"></i> {% trans %}Cancel{% endtrans %}
        </a>
    </div>
</div>

<div style="display: none;">{{ form_rest(form) }}</div>


{{ form_end(form) }}