{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Songs{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Songs{% endtrans %}</h1>

    <div class="row mb-3">
        <div class="col-12 text-right">
            <a class="btn btn-success right" href="{{ path('song_new') }}">{% trans %}New Song{% endtrans %}</a>
        </div>
    </div>

    <table class="index table-bordered table-light w-100">
        <thead>
        <th>{% trans %}Title{% endtrans %}</th>
        <th>{% trans %}Composition year{% endtrans %}</th>
        <th>{% trans %}Artists{% endtrans %}</th>
        <th>{% trans %}Albums{% endtrans %}</th>
        <th>{% trans %}Created at{% endtrans %}</th>
        <th>{% trans %}Updated at{% endtrans %}</th>
        <th>{% trans %}Operations{% endtrans %}</th>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.title }}</td>
                <td>{{ song.compositionYear }}</td>
                <td>
                    {% for artist in song.artists %}
                        {{ artist.name }}{{ loop.last ? '' : ', ' }}
                    {% endfor %}
                </td>
                <td>
                    {% for album in song.albums %}
                        {{ album.title }}{{ loop.last ? '' : ', ' }}
                    {% endfor %}
                </td>
                <td>{{ song.createdAt | date('d/m/Y h:i') }}</td>
                <td>{{ song.updatedAt | date('d/m/Y h:i') }}</td>
                <td class="operations">
                    <a href="{{ path('song_edit', {id: song.id}) }}" class="btn btn-sm btn-success action-edit shadow-sm mb-3" title="{{ 'Edit.Song' | trans }}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <button
                            data-url="{{ path('song_delete', {id: song.id}) }}"
                            data-confirm-message="{% trans %}Are you sure{% endtrans %}?"
                            class="btn btn-sm btn-danger action-delete-song shadow-sm mb-3"
                            title="{{ 'Delete.Song' | trans }}">
                        <i class="fa fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('song-index') }}
{% endblock %}