<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Songslib{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="page container-fluid">

    {% block header %}
        <header id="topbar" class="row navbar shadow-sm border-bottom bg-light">
            <div class="d-flex justify-content-between">
                <a href="{{ path('homepage') }}" class="navbar-brand header-title" title="Songslib">
                    <img src="{{ asset('images/logo.png') }}" alt="Songslib" width="50" class="d-inline-block align-top">
                    Songslib
                </a>
            </div>
        </header>
    {% endblock %}

    <section class="content">
        {% block content %}{% endblock %}
    </section>

    {% block footer %}
        <footer id="footer" class="row page-footer small d-flex justify-content-between border-top shadow-sm fixed-bottom bg-light">
            <div class="container-fluid">
                <div class="footer-copyright text-center py-3">
                    © {{ "now"|date('Y') }} Songslib Corporation
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>
{% include 'shared/flashbag.html.twig' %}
</body>
</html>
